/* ---------- CSS w2ui Modifications ---------- */
/* Toolbar */
.w2ui-toolbar {
    user-select: none;
	position: absolute;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.w2ui-toolbar .w2ui-scroll-wrapper .w2ui-tb-button {
    position: relative;
	display: flex;
	align-items: center;
    z-index: 20;
    height: 25px;
    min-width: 20px;
    padding: 2px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: var(--global-color-secondary);
    white-space: nowrap;
    margin: 0px 3px;
    cursor: default;
    user-select: none;
    flex-shrink: 0;
	transition: all 0.3s;
}

.w2ui-toolbar .w2ui-scroll-wrapper .w2ui-tb-button.checked {
    border: 1px solid transparent;
    background-color: var(--global-color-selected);
}

.w2ui-toolbar .w2ui-scroll-wrapper .w2ui-tb-button.over {
    border: 1px solid transparent;
    background-color: var(--global-color-highlight);
}

.w2ui-toolbar .w2ui-scroll-wrapper .w2ui-tb-button .w2ui-tb-text {
    margin-left: 0px;
    color: white;
    padding: 0px 0px 0px 0px!important;
}

.w2ui-toolbar .w2ui-scroll-wrapper .w2ui-tb-button.over .w2ui-tb-text {
	color: white;
}

.w2ui-toolbar .w2ui-scroll-wrapper .w2ui-tb-button.checked .w2ui-tb-text {
    color: white;
}

.w2ui-toolbar .w2ui-scroll-wrapper .w2ui-tb-button .w2ui-tb-icon {
    display: inline-block;
    width: 22px;
    margin: 0px 0px 0px 0px!important;
    text-align: center;
}

.w2ui-toolbar .w2ui-scroll-wrapper .w2ui-tb-button .w2ui-tb-icon > span {
    font-size: 15px;
    color: white;
}

/* Sidebar */
.w2ui-sidebar {
    background-color: transparent !important;
}

.w2ui-sidebar .w2ui-sidebar-top .w2ui-flat-left, .w2ui-sidebar .w2ui-sidebar-top .w2ui-flat-right {
    background-color: transparent;
}

/* Popup */
.w2ui-popup .w2ui-popup-title {
    padding: 10px;
    border-radius: 6px 6px 0px 0px;
    background-color: var(--global-color-primary);
    border-bottom: 1px solid #eee;
    position: absolute;
    overflow: hidden;
    height: 42px;
    left: 0px;
    right: 0px;
    top: 0px;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: move;
    font-size: 17px;
    color: #fff;
    z-index: 300;
  }

.w2ui-popup .w2ui-popup-body {
    font-size: 17px;
    line-height: 130%;
    padding: 0px 7px 7px 7px;
    color: #fff;
    background-color: var(--global-color-primary);
    position: absolute;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.w2ui-popup .w2ui-popup-buttons {
	font-size: 11px;
	padding: 14px;
	border-radius: 0px 0px 6px 6px;
	border-top: 1px solid #eee;
	background-color: var(--global-color-primary);
	text-align: center;
	position: absolute;
	overflow: hidden;
	height: 56px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 200;
}

.w2ui-popup .w2ui-popup-button.w2ui-popup-close:hover {
	color: #fff;
}

.w2ui-popup .w2ui-popup-button.w2ui-popup-max:hover {
    color: #fff;
}

button.w2ui-btn:hover {
    background-color: var(--global-color-highlight);
    color: wihte;
}